li {
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 14%;
    margin-right: 16%;
    padding: 1%;
    background-color: #e9c46aff;
    border-style: dashed;
    border-radius: 15%;
    border-width: 2px;
    border-color: #e76f51ff;
    color: #2a9d8fff;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: 600;
}
