body {
    margin: 0;
    background-color: #f4a261ff;
}

.below-nav {
    margin-top: 90px;
}

h1 {
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 12%;
    margin-right: 12%;
    padding: 1%;
    background-color: #e9c46aff;
    border-style: dashed;
    border-radius: 15%;
    border-width: 2px;
    border-color: #e76f51ff;
    color: #264653ff;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 16%;
    margin-right: 16%;
    padding: 1%;
    background-color: #e9c46aff;
    border-style: dashed;
    border-radius: 15%;
    border-width: 2px;
    border-color: #e76f51ff;
    color: #264653ff;
    display: flex;
    justify-content: center;
}

p {
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    background-color: white;
    border-style: dashed;
    border-radius: 15%;
    border-width: 2px;
    border-color: #e76f51ff;
    font-size: x-large;
    text-align: center;
}

.end {
    margin: 10%;
}
